# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/

# Data files (if you don't want to include them in the repository)
data/*.json
data/*.json.gz

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db